@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color: white;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Henny Penny";
    src: url("/fonts/HennyPenny-Regular.ttf");
}